<h1><b>Hello!</b></h1>
<p class="initial">Welcome to <%= content_tag :kbd, "OS", 'data-toggle':"tooltip", 'data-placement':"top", title:"OnlineStore" %>. We are a miscellany virtual store where you can find everything from designer clothes, shoes and handbags, to technology items, desktop computers, laptops, tablets, smartphones, etc. Subscribe to get information from us and be updated of items we offer. Also, by signing up, you can win a prize!!!</p>
<br />
<%= render 'form' %>
